@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-popup {
    animation-name: animate-popup;
    animation-duration: 1s;
  }
  
  @keyframes animate-popup {
    0% {
      opacity: 0.5;
      right: -40px;
    }
    100% {
      opacity: 1;
    }
  }


